html, body {
    height:100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background:url('./images/house-background.jpg');
  background-size: cover;
  background-position: center center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-attachment: fixed; /* Keeps the background fixed when scrolling */
}

#content {
    display:flex;
    flex-direction: column;
    min-height:100vh;
    margin:auto;
    width:80%;
}

.main-content {
  padding:10px;
  background:rgba(255,255,255,.6);
  flex-grow:1;
}


@media screen and (min-width: 768px) {
  .columns {
    display:flex;
  }
}


