#main-header {
    background:#295095;
    padding:10px;
    position:relative;
    min-height:70px;
    border-radius:5px 5px 0 0;
}

#main-header h1 {
    color:white;
    margin:0;
    text-align: center;
    line-height:70px;
}

#logo {
    position:absolute;
    top:0;
    left:0;
    max-width:100px;
    padding:15px;
}